.knob {
  display: border-box;
  position: absolute;
  height: 5rem;
  width: 5rem;
  padding-top:7px;
}

.knob span {
  display: block;
  height: 1.7rem;
  width: 1.7rem;
  margin: auto;
  border: 2px solid #fff;
  background: #00aacc;
  border-radius: 11px;
  box-shadow: inset 0 0 4px #000, 0 0 3px rgb(0,0,0,0.4);
}

.knob.moving span {
  box-shadow: inset 0 0 2px rgb(0,0,0,0.5), 0 0 3px rgb(0,0,0,0.4);
}

#clipboard-menu {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 10000;
  border: 0.1rem solid  #222;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

#clipboard-menu.moving {
  opacity: 0.2;
}

#clipboard-menu li {
  float: left;
  height: 3.4rem;
  padding: 0px 1.3rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  font: 500 1.4rem/3.4rem 'MozTT',Sans-serif;
  font-weight: bold;
  text-align: center;
  border-right: 0.1rem solid #222;
  text-decoration: none;
  outline: medium none;

  background: none repeat scroll 0% 0% rgb(0, 138, 170);
  color: rgb(255, 255, 255);
}

#clipboard-menu li:last-child {
  border-right: 0;
}